{% extends "form.html"%}
{% block form %}

Christ College (Autonomous) is a Syro-Malabar Roman Catholic college run by Carmelites of Mary Immaculate in Irinjalakuda of<br>
Thrissur District, Kerala. Christ College is affiliated to University of Calicut accredited with an <br>
"A" grade certificate by National Assessment and Accreditation Council (NAAC).The college conducts several undergraduate<br>
and post graduate courses in Arts, Commerce, and Science faculties. Besides, the college offers professional courses like<br>
PG Diploma in Natural Disaster Management; Bachelor of Physical Education (BPE), and some UGC sponsored short-term courses.

{% endblock %}

